
.luka_trajector{
    position: absolute;
    top: -7vh;  
    left: 0vw;
    animation: linear swingingLuka 20s alternate infinite;

    .shaking_wrapper {
        width: 184px;
        height: 375px;
        background-image: url("../../assets/lukagif.gif");
        transform: scale(0.4) 
    }
}
  
@keyframes swingingLuka {
    0%{
        top: -7vh;  
        left: 0vw;
    }
    5%{
        top: -7vh;  
        left: 0vw;
    }
    10% {
        top: 0vh;
        left: 10vw;
    }
    40% {
        top: 60vh;
        left: 45vw;
    }
    80% {
        top: 55vh;
        left: 85vw;
    }
    100% {
        top: 55vh;
        left: 85vw;
    }
}

.ivan_trajector{
    position: absolute;
    top: 10vh;  
    left: 0vw;
    animation: linear swingingIvan 20s 1s alternate infinite;

    .shaking_wrapper {
        width: 184px;
        height: 400px;
        background-image: url("../../assets/ivangif.gif");
        transform: scale(0.4) 
    }
}

@keyframes swingingIvan {
    0%{
        top: 10vh;  
        left: 0vw;
    }
    30%{
        top: 10vh;  
        left: 0vw;
    }
    40% {
        top: 10vh;
        left: 10vw;
    }
    70% {
        top: 60vh;
        left: 45vw;
    }
    85% {
        top: 40vh;
        left: 75vw;
    }
    100%{
        top: 65vh;
        left: 83vw;
    }
}


.zoki_trajector{
    position: absolute;
    top: 70vh;  
    left: 20vw;
    animation: linear swingingZoki 20s alternate infinite;

    .shaking_wrapper {
        width: 255px;
        height: 340px;
        background-image: url("../../assets/zokigif.gif");
        transform: scale(0.4) 
    }
}

@keyframes swingingZoki {
    0%{
        top: 70vh;  
        left: 20vw;
    }
    20%{
        top: 70vh;  
        left: 20vw;
    }
    25% {
        top: 50vh;  
        left: 20vw;
    }
    55% {
        top: 60vh;
        left: 45vw;
    }
    85% {
        top: 48vh;
        left: 78vw;
    }
    100% {
        top: 48vh;
        left: 78vw;
    }
}


.minja_trajector{
    position: absolute;
    top: 65vh;  
    left: 60vw;
    animation: linear swingingMinja 20s 2s alternate infinite;

    .shaking_wrapper {
        width: 180px;
        height: 430px;
        background-image: url("../../assets/minjagif.gif");
        transform: scale(0.4) 
    }
}

@keyframes swingingMinja {
    0%{
        top: 65vh;  
        left: 60vw;
    }
    50%{
        top: 65vh;  
        left: 60vw;
    }
    65% {
        top: 50vh;  
        left: 65vw;
    }
    80% {
        top: 60vh;
        left: 90vw;
    }
    100%{
        top: 65vh;
        left: 90vw;
    }
}

.nikola_trajector{
    position: absolute;
    top: 7vh;  
    left: 5vw;
    animation: linear swingingNikola 20s 2s alternate infinite;

    .shaking_wrapper {
        width: 210px;
        height: 380px;
        background-image: url("../../assets/universal.gif");
        transform: scale(0.4) 
    }
}

@keyframes swingingNikola {
    0%{
        top: 7vh;  
        left: 5vw;
    }
    10%{
        top: 7vh;  
        left: 7vw;
    }
    20% {
        top: 7vh;
        left: 10vw;
    }
    50% {
        top: 60vh;
        left: 38vw;
    }
    85% {
        top: 40vh;
        left: 85vw;
    }
    100%{
        top: 40vh;
        left: 85vw;
    }
}


.sara_trajector{
    position: absolute;
    top: 70vh;  
    left: 10vw;
    animation: linear swingingSara 20s alternate infinite;

    .shaking_wrapper {
        width: 210px;
        height: 380px;
        background-image: url("../../assets/universal.gif");
        transform: scale(0.4) 
    }
}
  
@keyframes swingingSara {
    0%{
        top: 70vh;  
        left: 10vw;
    }
    40%{
        top: 70vh;  
        left: 10vw;
    }
    80% {
        top: 70vh;
        left: 75vw;
    }
    100%{
        top: 70vh;
        left: 75vw;
    }
}

.pedja_trajector{
    position: absolute;
    top: 70vh;  
    left: 45vw;
    animation: linear swingingPedja 20s alternate infinite;

    .shaking_wrapper {
        width: 210px;
        height: 380px;
        background-image: url("../../assets/universal.gif");
        transform: scale(0.4) 
    }
}
  
@keyframes swingingPedja {
    0%{
        top: 70vh;  
        left: 45vw;
    }
    45%{
        top: 70vh;  
        left: 45vw;
    }
    80% {
        top: 70vh;
        left: 82vw;
    }
    100%{
        top: 70vh;
        left: 82vw;
    }
}

.srba_trajector{
    position: absolute;
    top: 40vh;  
    left: 45vw;
    animation: linear swingingSrba 20s alternate infinite;

    .shaking_wrapper {
        width: 210px;
        height: 380px;
        background-image: url("../../assets/universal.gif");
        transform: scale(0.4) 
    }
}
  
@keyframes swingingSrba {
    0%{
        top: 40vh;  
        left: 45vw;
    }
    45%{
        top: 40vh;  
        left: 45vw;
    }
    80% {
        top: 40vh;
        left: 75vw;
    }
    100%{
        top: 40vh;
        left: 75vw;
    }
}

.show_hide {
    position: absolute;
    right: -5vw;
    animation: showcig 20s linear alternate infinite;
}

@keyframes showcig {
    0%{  
        right: -40vw;
    }
    45%{  
        right: -40vw;
    }
    80% {
        right: 0vw;
    }
    100%{
        right: 0vw;
    }
}

.swinging {
    position: absolute;
    top: 40vh;  
    right: 5vw;
    margin: 20px;
    animation: first 1.5s linear alternate infinite;
}
  
@keyframes first {
    to {
        transform: rotate(10deg);
    }
}

.cigarette {
    background-image: url("../../assets/cigarette.png");
    width: 232px;
    height: 232px;
    transform: scale(0.4)
}
  
